<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="side-nav-button px-2 py-1 me-3 text-light" (click)="SideNavToggle()">
        <i class="bi bi-list"></i>
    </div>

    <a href="#" class="navbar-brand px-4">Header & Navbar</a>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Menu 1</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a routerLink="content1" class="dropdown-item">Child 1</a></li>
                    <li><a routerLink="content1" class="dropdown-item">Child 2</a></li>
                    <li><a routerLink="content1" class="dropdown-item">Child 3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Menu 2</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a routerLink="content2" class="dropdown-item">Child 1</a></li>
                    <li><a routerLink="content2" class="dropdown-item">Child 2</a></li>
                    <li><a routerLink="content2" class="dropdown-item">Child 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <form class="d-flex me-5">
        <input type="search" class="form-control me-2" placeholder="search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>

    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Uma</button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item" (click)="alertmsg()">Sign Up</a></li>
            <li><a href="#" class="dropdown-item" (click)="alertmsg()">Log In</a></li>
            <li><a href="#" class="dropdown-item" (click)="alertmsg()">Your Profile</a></li>
            <li><a href="#" class="dropdown-item" (click)="alertmsg()">Log Out</a></li>
        </ul>
    </div>
</nav>

